/* @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900); */
#top_image {
    background-color: #141414;
    background-image: url('thecodingjsoftwarelogoHD.png');
    background-size:cover;
    background-position:bottom center;
    width: auto;
    height: 65%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
body{
    background-color: #141414;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* height: 100%; */
    font-family: 'Lato', Helvetica, arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.45;
    color: #eee;
    color: rgba(255, 255, 255, .85);
}
#container {
    padding-top: 50px;
}

#content {
    max-width: 43em;
    padding: 10px;
    margin: 0 auto;
}

h1 {
    padding-top: 70;
    padding-left: 40;
    font-size: 4.8em;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    font-size: 2.4em;
    font-weight: 300;
    line-height: 1.5;
}

p,
li {
    font-size: 1.7em;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

p#pleft {
    max-width: 20em;
    float: left;
}

p#pright {
    max-width: 20em;
    float: left;
}

ul {
    clear: both;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 1em;
}

/* COMPUTER MODEL CODE */
#stage {
    width: 150px;
    height: 150px;
    margin: 20px auto;
}
/* BASE */
#computer_render {
    /* background: white; */
    width: 150px;
    height: 150px;
    top: 50px;
    margin: auto;
    position: relative;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(75deg) rotate(65deg);
    transform: rotateX(75deg) rotate(65deg);
    -webkit-animation: turnComputer 10s linear infinite;
    animation: turnComputer 10s linear infinite;
}

#computer_render > div {
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 150px;
    height: 150px;
    float: left;
    overflow: hidden;
    opacity: 0.85;
}
#right {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(75px);
    -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(75px);
    -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(75px);
    background-color: rgba(0, 72, 255, 0.3);
    /* background-color: rgb(255, 0, 0); */
}
#left {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(75px);
    -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(75px);
    -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(75px);
    background-color: rgba(242, 0, 255, 0.3);
    /* background-color: rgb(255, 0, 0); */
}

#front {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(75px);
    -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(75px);
    -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(75px);
    background-color: rgba(170, 0, 255, 0.3);
    /* background-color: rgb(255, 0, 0); */
}
#back {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(75px);
    -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(75px);
    -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(75px);
    /* background-color: rgb(255, 0, 0); */
    background-color: rgba(0, 208, 255, 0.3);
}

#top {
    transform: translateX(0px) translateY(0px) translateZ(75px);
    -moz-transform: translateX(0px) translateY(0px) translateZ(75px);
    -webkit-transform: translateX(0px) translateY(0px) translateZ(75px);
    background-color: rgba(170, 0, 255, 0.3);
    /* background-color: rgb(255, 0, 0); */
}

/* Base */
#bottom {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(75px);
    -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(75px);
    -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(75px);
    background-color: rgba(76, 0, 255, 0.3);
    
    /* background-color: rgb(255, 0, 0); */
}


/* 
.front:before {
    border-color: rgba(92, 92, 92, 0.3) transparent transparent transparent;
}

.back:before {
    border-color: rgba(20, 90, 225, 0.3) transparent transparent transparent;
}

.left:before {
    border-color: rgba(0, 142, 167, 0.3) transparent transparent transparent;
}

.right:before {
    border-color: rgba(0, 255, 251, 0.3) transparent transparent transparent;
}

/* Base */
.bottom:before {
    border-color: rgba(140, 0, 255, 0.3) transparent transparent transparent;
}
.top:before {
    border-color: rgba(140, 0, 255, 0.3) transparent transparent transparent;
} */


@-webkit-keyframes turnComputer {
    100% {
        -webkit-transform: rotateX(75deg) rotate(425deg);
    }
}

@keyframes turnComputer {
    100% {
        transform: rotateX(75deg) rotate(425deg);
    }
}

@media (max-width: 300px) {
    html {
        font-size: 70%;
    }

    .stage {
        -webkit-transform: scale(0.05);
        transform: scale(0.05);
    }
}

@media (max-width: 440px) {
    h1 {
        line-height: 55px;
    }
}

@media (max-width: 460px) {
    .stage {
        position: absolute;
        top: 25px;
        left: 50%;
        margin-left: -45px;
    }

    h1 {
        margin-top: 50px;
        text-align: center;
    }
}

@media (max-width:600px) {
    .stage {
        -webkit-transform: scale(0.55);
        transform: scale(0.55);
        margin-right: 60px;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 80%;
    }

    .stage {
        -webkit-transform: scale(0.68);
        transform: scale(0.68);
        margin-right: 80px;
    }
}

@media (min-width: 880px) {
    html {
        font-size: 120%;
    }

    p,
    li {
        font-size: 1em;
    }

    p#pright {
        margin-left: 3em;
    }

    .stage {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        margin-right: 120px;
    }
}