/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");

@font-face {
    font-family: "Varela Round";
    src: url("Varela Round.ttf");
}

body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body {
    margin: 0;
    padding: 0;
	font-family: 'Varela Round', 'Ionicons';
    background-color: #101214;
    color: #7A7C80;
    padding-left: 1%;
}
p{
	font-family: 'Varela Round', 'Ionicons';
    /* width: 70%; */
    margin: auto;
    margin-top: 2%;
    font-size: 1rem;
}
h2,
.white {
    color: #fff;
}

a {
    color: #7A7C80;
    text-decoration: none;
}

/* section 1 */
.section-1 {
    padding-top: 12vh;
    text-align: center;
}

.section-1 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-1 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a {
    font-size: 1.5rem;
    padding: 10px;
}

.section-1 a:hover {
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

/* section 2 */
.section-2 {
    padding-top: 1vh;
    width: 70%;
}

.section-2 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p {
    font-size: 1.01rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-2 .name-and-icons {
    display: list-item;
    margin-left: 25px;
}

.section-2 a {
    padding: 5px;
    font-size: 1rem;
    padding-left: 0;
}

/* animations / utilities */
.section-2 a:hover {
    font-size: 1.01rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

/* section 3 */
.section-3 {
    position: static;
    bottom: 0;
    left: 0;
}

.section-3 h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-32 p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.section-3 a {
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
}

/* animations / utilities */
.section-3 a:hover {
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.white:hover {
    position: relative;
    padding-left: 10px;
}

.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 0px 0px 10px rgb(172, 172, 172);
    border-radius: 25px;
}

.image:hover {
    opacity: 0.6;
}

/* COMPUTER MODEL CODE */
#stage {
    float: left;
    width: 250px;
    height: 150px;
    bottom: 25px;
    position: static;
    left: 0;
    margin-left: 10em;
    transform: scale(1);
    transition: transform 100ms ease-in-out;
}
#stage:hover{
    transform: scale(1.1);
    transition: transform 100ms ease-in-out;
}
/* media queres */
@media(max-width:780px) {
    .grid-3 {
        grid-template-columns: 1fr;
    }

    .section-1 {
        padding: 0;
        padding-top: 5rem;
    }

    .section-2 {
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
    #stage {
        margin-left: 40%;
        transform: scale(0.6);
    }
    #stage:hover{
        transform: scale(0.7);
    }
}


/* BASE */
#computer_render {
    /* background: white; */
    width: 150px;
    height: 150px;
    margin: auto;
    position: relative;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(75deg) rotate(65deg);
    transform: rotateX(75deg) rotate(65deg);
    -webkit-animation: turnComputer 10s linear infinite;
    animation: turnComputer 10s linear infinite;
}

#computer_render>div {
    overflow: hidden;
    clear: right;
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    opacity: 0.85;
}

/* BASE START */
#right {
    width: 150px;
    height: 45px;
    transform: rotateX(90deg) translateY(22.5px) translateZ(22.5px);
    -moz-transform: rotateX(90deg) translateY(22.5px) translateZ(22.5px);
    -webkit-transform: rotateX(90deg) translateY(22.5px) translateZ(22.5px);
    background-color: rgba(79, 79, 74, 0.3);
}

#left {
    width: 150px;
    height: 45px;
    transform: rotateX(-90deg) translateY(-22.5px) translateZ(127.5px);
    -moz-transform: rotateX(-90deg) translateY(-22.5px) translateZ(127.5px);
    -webkit-transform: rotateX(-90deg) translateY(-22.5px) translateZ(127.5px);
    background-color: rgba(79, 79, 74, 0.3);
}

#front {
    width: 150px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-22.5px) translateZ(-75px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-22.5px) translateZ(-75px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-22.5px) translateZ(-75px);
    background-color: rgba(79, 79, 74, 0.3);
}

#back {
    width: 150px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-22.5px) translateZ(75px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-22.5px) translateZ(75px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-22.5px) translateZ(75px);
    background-color: rgba(79, 79, 74, 0.3);
}

#top {
    width: 150px;
    height: 150px;
    transform: translateX(0px) translateY(0px) translateZ(45px);
    -moz-transform: translateX(0px) translateY(0px) translateZ(45px);
    -webkit-transform: translateX(0px) translateY(0px) translateZ(45px);
    background-color: rgba(109, 109, 103, 0.3);
}

#bottom {
    width: 150px;
    height: 150px;
    transform: translateX(0px) translateY(0px);
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    background-color: rgba(56, 56, 53, 0.3);
}

/* BASE END */

/* MONITER STAND START */
#moniter_stand_right {
    width: 90px;
    height: 15px;
    transform: rotateX(90deg) translateX(30px) translateY(53px) translateZ(-22.5px);
    -moz-transform: rotateX(90deg) translateX(30px) translateY(53px) translateZ(-22.5px);
    -webkit-transform: rotateX(90deg) translateX(30px) translateY(53px) translateZ(-22.5px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_stand_left {
    width: 90px;
    height: 15px;
    transform: rotateX(-90deg) translateX(30px) translateY(-53px) translateZ(112.5px);
    -moz-transform: rotateX(-90deg) translateX(30px) translateY(-53px) translateZ(112.5px);
    -webkit-transform: rotateX(-90deg) translateX(30px) translateY(-53px) translateZ(112.5px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_stand_front {
    width: 90px;
    height: 15px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-53px) translateZ(-75px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-53px) translateZ(-75px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-53px) translateZ(-75px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_stand_back {
    width: 90px;
    height: 15px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-53px) translateZ(15px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-53px) translateZ(15px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-53px) translateZ(15px);
    background-color: rgba(109, 109, 103, 0.3);
}

/* MONITER STAND END */

/* SCREEN BASE START */
#moniter_base_right {
    width: 15px;
    height: 120px;
    transform: translateX(0px) translateY(0px);
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(15px) translateY(15px) translateZ(60px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_base_left {
    width: 15px;
    height: 120px;
    transform: translateX(0px) translateY(0px);
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(120px) translateY(15px) translateZ(60px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_base_front {
    width: 90px;
    height: 15px;
    transform: translateX(0px) translateY(0px);
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(30px) translateY(15px) translateZ(60px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_base_back {
    width: 90px;
    height: 15px;
    transform: translateX(0px) translateY(0px);
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(30px) translateY(120px) translateZ(60px);
    background-color: rgba(109, 109, 103, 0.3);
}

/* SCREEN BASE END */

/* SCREEN START */

#moniter_right {
    width: 120px;
    height: 75px;
    transform: rotateX(90deg) translateX(15px) translateY(97.5px) translateZ(-97.5px);
    -moz-transform: rotateX(90deg) translateX(15px) translateY(97.5px) translateZ(-97.5px);
    -webkit-transform: rotateX(90deg) translateX(15px) translateY(97.5px) translateZ(-97.5px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_left {
    width: 120px;
    height: 75px;
    transform: rotateX(-90deg) translateX(15px) translateY(-97.5px) translateZ(-22.5px);
    -moz-transform: rotateX(-90deg) translateX(15px) translateY(-97.5px) translateZ(-22.5px);
    -webkit-transform: rotateX(-90deg) translateX(15px) translateY(-97.5px) translateZ(-22.5px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_back {
    width: 120px;
    height: 75px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(37.5px) translateY(-97.5px) translateZ(15px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(37.5px) translateY(-97.5px) translateZ(15px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(37.5px) translateY(-97.5px) translateZ(45px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_top {
    width: 120px;
    height: 120px;
    transform: translateX(15px) translateY(15px) translateZ(135px);
    -moz-transform: translateX(15px) translateY(15px) translateZ(135px);
    -webkit-transform: translateX(15px) translateY(15px) translateZ(135px);
    background-color: rgba(109, 109, 103, 0.3);
}

/* FRONT OF SCREEN START*/

#moniter_front1 {
    width: 120px;
    height: 15px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-67.5px) translateZ(-75px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-67.5px) translateZ(-75px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-67.5px) translateZ(-75px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_front2 {
    width: 120px;
    height: 15px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-127.5px) translateZ(-75px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-127.5px) translateZ(-75px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-127.5px) translateZ(-75px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_front3 {
    width: 15px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_front4 {
    width: 15px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(105px) translateY(-97.5px) translateZ(-127.5px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_front5 {
    width: 15px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: rotateX(-90deg) translateX(119.5px) translateY(-97.5px) translateZ(97.5px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_front6 {
    width: 15px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: rotateX(-90deg) translateX(119.5px) translateY(-97.5px) translateZ(7.5px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_front7 {
    width: 15px;
    height: 90px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: translateX(119.5px) translateY(30px) translateZ(120px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_front8 {
    width: 15px;
    height: 90px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: translateX(119.5px) translateY(30px) translateZ(75px);
    background-color: rgba(109, 109, 103, 0.3);
}

#moniter_screen {
    width: 90px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-97.5px) translateZ(-75px);
    background-color: rgba(0, 0, 0, 0.646);
}

/* FRONT OF SCREEN END */

/* SCREEN END */


/* No idea what the below does, so just leave it please :) */
@-webkit-keyframes turnComputer {
    100% {
        -webkit-transform: rotateX(75deg) rotate(425deg);
    }
}

@keyframes turnComputer {
    100% {
        transform: rotateX(75deg) rotate(425deg);
    }
}
