/* @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900); */
#top_image {
    background-color: #141414;
    background-image: url('thecodingjsoftwarelogoHD.png');
    background-size:cover;
    background-position:bottom center;
    width: auto;
    height: 65%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
body{
    background-color: #141414;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* height: 100%; */
    font-family: 'Lato', Helvetica, arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.45;
    color: #eee;
    color: rgba(255, 255, 255, .85);
    
}
.grid {
    display: grid;
    height: 100%;
    /* background-color: lightgreen; */
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    /*grid-gap: 5px;*/
    grid-auto-columns: 50%;
    grid-auto-flow: row;
  }
  .item {
    /* border: 1px solid; */
    /* grid-area: span 1 / span 1; */
  }
/*   
  .item:nth-child(odd) {
    background-color: lightblue;
  }
  
  .item:nth-child(even) {
    background-color: lightslategray;
  } */
  
  /* .item1 {
    grid-area: span 1/ span 2;
  } */
#container {
    padding-top: 50px;
}

#content {
    max-width: 43em;
    padding: 10px;
    margin: 0 auto;
}

h1 {
    padding-top: 70;
    padding-left: 40;
    font-size: 4.8em;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.5;
}

p,
li {
    font-size: 1.7em;
}

a {
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

p#pleft {
    max-width: 20em;
    float: left;
}

p#pright {
    max-width: 20em;
    float: left;
}

ul {
    clear: both;
}


html {
    font-size: 62.5%;
}
/* 
body {
    font-size: auto;
} */

/* COMPUTER MODEL CODE */
#stage {
    /* float: right; */
    width: 175px;
    height: 150px;
    margin: 20px auto;
}
/* BASE */
#computer_render {
    /* background: white; */
    width: 150px;
    height: 150px;
    margin: auto;
    position: relative;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(75deg) rotate(65deg);
    transform: rotateX(75deg) rotate(65deg);
    -webkit-animation: turnComputer 10s linear infinite;
    animation: turnComputer 10s linear infinite;
}
#computer_render > div {
    overflow:hidden;
    clear:right; 
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    opacity: 0.85;
}
/* BASE START */
#right {
    width: 150px;
    height: 45px;
    transform: rotateX(90deg) translateY(22.5px) translateZ(22.5px);
    -moz-transform: rotateX(90deg)  translateY(22.5px) translateZ(22.5px);
    -webkit-transform: rotateX(90deg) translateY(22.5px) translateZ(22.5px);
    background-color: rgba(55, 0, 255, 0.3);
}
#left {
    width: 150px;
    height: 45px;
    transform: rotateX(-90deg) translateY(-22.5px) translateZ(127.5px);
    -moz-transform: rotateX(-90deg) translateY(-22.5px) translateZ(127.5px);
    -webkit-transform: rotateX(-90deg) translateY(-22.5px) translateZ(127.5px);
    background-color: rgba(0, 132, 255, 0.3);
}

#front {
    width: 150px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-22.5px) translateZ(-75px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-22.5px) translateZ(-75px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-22.5px) translateZ(-75px);
    background-color: rgba(17, 0, 255, 0.3);
}
#back {
    width: 150px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-22.5px) translateZ(75px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-22.5px) translateZ(75px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-22.5px) translateZ(75px);
    background-color: rgba(0, 162, 255, 0.3);
}
#top {
    width: 150px;
    height: 150px;
    transform: translateX(0px) translateY(0px) translateZ(45px);
    -moz-transform: translateX(0px) translateY(0px) translateZ(45px);
    -webkit-transform: translateX(0px) translateY(0px) translateZ(45px);
    background-color: rgba(36, 7, 150, 0.3);
}
#bottom {
    width: 150px;
    height: 150px;
    transform: translateX(0px) translateY(0px);
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    background-color: rgba(76, 0, 255, 0.3);
}
/* BASE END */

/* MONITER STAND START */
#moniter_stand_right {
    width: 90px;
    height: 15px;
    transform: rotateX(90deg) translateX(30px) translateY(53px) translateZ(-22.5px);
    -moz-transform: rotateX(90deg) translateX(30px) translateY(53px) translateZ(-22.5px);
    -webkit-transform: rotateX(90deg) translateX(30px) translateY(53px) translateZ(-22.5px);
    background-color: rgba(55, 0, 255, 0.3);
}
#moniter_stand_left {
    width: 90px;
    height: 15px;
    transform: rotateX(-90deg) translateX(30px) translateY(-53px) translateZ(112.5px);
    -moz-transform: rotateX(-90deg) translateX(30px) translateY(-53px) translateZ(112.5px);
    -webkit-transform: rotateX(-90deg) translateX(30px) translateY(-53px) translateZ(112.5px);
    background-color: rgba(0, 132, 255, 0.3);
}
#moniter_stand_front {
    width: 90px;
    height: 15px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-53px) translateZ(-75px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-53px) translateZ(-75px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-53px) translateZ(-75px);
    background-color: rgba(17, 0, 255, 0.3);
}
#moniter_stand_back {
    width: 90px;
    height: 15px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-53px) translateZ(15px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-53px) translateZ(15px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-53px) translateZ(15px);
    background-color: rgba(0, 162, 255, 0.3);
}
/* MONITER STAND END */

/* SCREEN BASE START */
#moniter_base_right {
    width: 15px;
    height: 120px;
    transform: translateX(0px) translateY(0px);
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(15px) translateY(15px) translateZ(60px);
    background-color: rgba(36, 7, 150, 0.3);
    /* background-color: rgba(0, 255, 0, 0.3); */
}
#moniter_base_left {
    width: 15px;
    height: 120px;
    transform: translateX(0px) translateY(0px);
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(120px) translateY(15px) translateZ(60px);
    background-color: rgba(36, 7, 150, 0.3);
}
#moniter_base_front {
    width: 90px;
    height: 15px;
    transform: translateX(0px) translateY(0px);
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(30px) translateY(15px) translateZ(60px);
    background-color: rgba(36, 7, 150, 0.3);
}
#moniter_base_back {
    width: 90px;
    height: 15px;
    transform: translateX(0px) translateY(0px);
    -moz-transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(30px) translateY(120px) translateZ(60px);
    background-color: rgba(36, 7, 150, 0.3);
}
/* SCREEN BASE END */

/* SCREEN START */

#moniter_right {
    width: 120px;
    height: 75px;
    transform: rotateX(90deg) translateX(15px) translateY(97.5px) translateZ(-97.5px);
    -moz-transform: rotateX(90deg) translateX(15px) translateY(97.5px) translateZ(-97.5px);
    -webkit-transform: rotateX(90deg) translateX(15px) translateY(97.5px) translateZ(-97.5px);
    background-color: rgba(55, 0, 255, 0.3);
    /* background-color: rgba(0, 255, 0, 0.3); */
}
#moniter_left {
    width: 120px;
    height: 75px;
    transform: rotateX(-90deg) translateX(15px) translateY(-97.5px) translateZ(-22.5px);
    -moz-transform: rotateX(-90deg) translateX(15px) translateY(-97.5px) translateZ(-22.5px);
    -webkit-transform: rotateX(-90deg) translateX(15px) translateY(-97.5px) translateZ(-22.5px);
    background-color: rgba(0, 132, 255, 0.3);
}
#moniter_back {
    width: 120px;
    height: 75px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(37.5px) translateY(-97.5px) translateZ(15px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(37.5px) translateY(-97.5px) translateZ(15px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(37.5px) translateY(-97.5px) translateZ(45px);
    background-color: rgba(0, 162, 255, 0.3);
}
#moniter_top {
    width: 120px;
    height: 120px;
    transform: translateX(15px) translateY(15px) translateZ(135px);
    -moz-transform: translateX(15px) translateY(15px) translateZ(135px);
    -webkit-transform: translateX(15px) translateY(15px) translateZ(135px);
    background-color: rgba(0, 183, 255, 0.3);
}
/* FRONT OF SCREEN START*/

#moniter_front1 {
    width: 120px;
    height: 15px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-67.5px) translateZ(-75px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-67.5px) translateZ(-75px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-67.5px) translateZ(-75px);
    background-color: rgba(17, 0, 255, 0.3);
}
#moniter_front2 {
    width: 120px;
    height: 15px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-127.5px) translateZ(-75px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-127.5px) translateZ(-75px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(67.5px) translateY(-127.5px) translateZ(-75px);
    background-color: rgba(17, 0, 255, 0.3);
}
#moniter_front3 {
    width: 15px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    background-color: rgba(17, 0, 255, 0.3);
}
#moniter_front4 {
    width: 15px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(105px) translateY(-97.5px) translateZ(-127.5px);
    background-color: rgba(17, 0, 255, 0.3);
}
#moniter_front5 {
    width: 15px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: rotateX(-90deg) translateX(119.5px) translateY(-97.5px) translateZ(97.5px);
    background-color: rgba(18, 5, 201, 0.5);
}
#moniter_front6 {
    width: 15px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: rotateX(-90deg) translateX(119.5px) translateY(-97.5px) translateZ(7.5px);
    background-color: rgba(18, 5, 201, 0.5);
}
#moniter_front7 {
    width: 15px;
    height: 90px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: translateX(119.5px) translateY(30px) translateZ(120px);
    background-color: rgba(18, 5, 201, 0.5);
}
#moniter_front8 {
    width: 15px;
    height: 90px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: translateX(119.5px) translateY(30px) translateZ(75px);
    background-color: rgba(18, 5, 201, 0.5);
}
#moniter_screen {
    width: 90px;
    height: 45px;
    transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateX(0px) translateY(-97.5px) translateZ(-127.5px);
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateX(52.5px) translateY(-97.5px) translateZ(-75px);
    background-color: rgba(5, 0, 79, 0.8);
}
/* FRONT OF SCREEN END */

/* SCREEN END */


/* No idea what the below does, so just leave it please :) */
@-webkit-keyframes turnComputer {
    100% {
        -webkit-transform: rotateX(75deg) rotate(425deg);
    }
}

@keyframes turnComputer {
    100% {
        transform: rotateX(75deg) rotate(425deg);
    }
}

@media (max-width: 300px) {
    html {
        font-size: 70%;
    }

    .stage {
        -webkit-transform: scale(0.05);
        transform: scale(0.05);
    }
}

@media (max-width: 440px) {
    h1 {
        line-height: 55px;
    }
}

@media (max-width: 460px) {
    .stage {
        position: absolute;
        top: 25px;
        left: 50%;
        margin-left: -45px;
    }

    h1 {
        margin-top: 50px;
        text-align: center;
    }
}

@media (max-width:600px) {
    .stage {
        -webkit-transform: scale(0.55);
        transform: scale(0.55);
        margin-right: 60px;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 80%;
    }

    .stage {
        -webkit-transform: scale(0.68);
        transform: scale(0.68);
        margin-right: 80px;
    }
}

@media (min-width: 880px) {
    html {
        font-size: 120%;
    }

    p,
    li {
        font-size: 1em;
    }

    p#pright {
        margin-left: 3em;
    }

    .stage {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        margin-right: 120px;
    }
}