html,
body,
div,
article,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
a,
button,
input,
textarea,
select,
details,
details[open],
summary,
footer,
nav {
    transition: background-color 0.3s ease-in-out, color 0.1s ease;
}

::selection {
    background-color: var(--primary);
    color: var(--on-primary);
}

::-moz-selection {
    background-color: var(--primary);
    color: var(--on-primary);
}

details {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    background-color: var(--surface-container-low);
    box-shadow: var(--elevate1);
    padding: 5px;
    border-radius: 0.45rem;
    margin: 5px;
}

details:not([open]) summary button{
    color: var(--on-surface);
}

details:not([open]) summary p{
    color: var(--on-surface);
}

details:not([open]) summary i{
    color: var(--on-surface);
}

details:not([open]) summary h6{
    color: var(--on-surface);
}

details[open] summary button{
    color: var(--surface);
}
details[open] summary p{
    color: var(--on-surface);
}
details[open] summary i{
    color: var(--on-surface);
}
details[open] summary h6{
    color: var(--on-surface);
}

details[open] {
    height: auto;
    max-height: 99em !important;
    border: 0.0625rem solid var(--primary) !important;
    background-color: var(--surface);
}


span.highlight {
    color: var(--on-primary) !important;
    background-color: var(--primary) !important;
    border-radius: 4px;
    padding-left: 1px;
    padding-right: 1px;
    display: inline-block !important;
}

.hidden{
    display: none !important;
}

dialog p{
    line-height: normal;
}

#content{
    max-height: calc(100vh - 300px);
}

article div{
    height: 100%;
}

/* WHen movile use max heihgt */
@media screen and (max-width: 600px) {
    #content{
        max-height: 500px;
    }
}

.row {
    display: flex;
    align-items: stretch;
}

.l,
.max {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.l article,
.max article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h4 {
    display: block !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.9rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}